@font-face {
	font-family: "Silkscreen";
	src: url(../fonts/Silkscreen-Regular.woff2);
	src: url(../fonts/Silkscreen-Regular.woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Silkscreen";
	src: url(../fonts/Silkscreen-Bold.woff2);
	src: url(../fonts/Silkscreen-Bold.woff) format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

$black: #30282f;
$grey: #70616c;
$yellow: #dace8c;
$green-light: #7bd74a;
$green: #289900;

body {
	font-family: "Silkscreen";

	background-color: $grey;
	color: $yellow;

	font-size: 20px;
	line-height: 24px;
}

a {
	position: relative;

	color: $yellow;
	text-decoration: none;

	font-size: 20px;
	line-height: 24px;
}

a::after {
	content: "";
	background-image: url(../img/content/dot-yellow.png);
	position: absolute;
	left: 50%;
	bottom: -5px;
	transition: all 1s;
	width: 5px;
	height: 5px;
}

a:hover::after {
	background-image: url(../img/content/dot-green.png);
	transition: all 0.7s;
}

.active {
	color: $green-light;
	border: 2px dashed $green;

	pointer-events: none;
}

a.active {
	pointer-events: none;

	&::after {
		content: none;
	}
}

/* Header Start */

.header {
	padding: 20px 40px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: $black;
	color: $yellow;

	&__logo {
		font-size: 42px;
		line-height: 45px;
		margin-bottom: 5px;

		transition: all 0.7s;

		&:hover {
			color: $green;
			transition: all 0.7s;
		}
	}

	&__nav {
		width: 80%;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__ul {
		gap: 90px;

		display: flex;
		justify-content: space-between;
		align-items: center;

		list-style: none;
	}

	&__li a {
		padding: 6px 10px;

		transition: all 0.7s;

		&:hover {
			color: $green;
			transition: all 0.7s;
		}
	}

	&__social {
		padding: 6px 10px;

		width: 100%;
		text-align: right;

		transition: all 0.7s;

		&:hover {
			color: $green;
			transition: all 0.7s;
		}
	}
}

.introduce {
	margin-top: 30px;
	padding: 50px;

	background-color: $black;

	&__img {
		position: fixed;
		right: -1000px;
		bottom: 0;

		transition: all 2s;
	}

	&__cat {
		max-width: 320px;
		margin-left: 200px;
	}

	&__displeased-cat {
		display: block;
	}

	&__cat:hover > &__img {
		right: 0;

		transition: all 4s;
	}
}

/* Header End */
